<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">


	<!-- The # prefix, in implementor attribute, indicates bean of type ... 
		The name of the interface which this endpoint must implement -->
	<jaxws:endpoint id="sdtapi"
		implementor="#uk.gov.moj.sdt.ws._2013.sdt.sdtendpoint.ISdtEndpointPortType"
		address="/sdtapi">
		<jaxws:inInterceptors>
            <ref bean="uk.gov.moj.sdt.interceptors.in.PerformanceLoggerInboundInterceptor" />
			<ref bean="uk.gov.moj.sdt.interceptors.in.XmlInboundInterceptor" />
			<ref bean="uk.gov.moj.sdt.interceptors.in.SdtUnmarshallInterceptor" />
			<ref
				bean="uk.gov.moj.sdt.interceptors.in.ServiceRequestInboundInterceptor" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="uk.gov.moj.sdt.interceptors.out.CacheSetupOutboundInterceptor" />
			<ref bean="uk.gov.moj.sdt.interceptors.out.XmlOutboundInterceptor" />
			<ref
				bean="uk.gov.moj.sdt.interceptors.out.ServiceRequestOutboundInterceptor" />
            <ref bean="uk.gov.moj.sdt.interceptors.out.PerformanceLoggerOutboundInterceptor" />
            <ref bean="uk.gov.moj.sdt.interceptors.out.CacheEndOutboundInterceptor" />              
		</jaxws:outInterceptors>
		<jaxws:outFaultInterceptors>
			<ref bean="uk.gov.moj.sdt.interceptors.out.FaultOutboundInterceptor" />
		</jaxws:outFaultInterceptors>
        <jaxws:features>
            <bean class="org.apache.cxf.feature.LoggingFeature"/>
        </jaxws:features>
		<jaxws:properties>
			<entry key="schema-validation-enabled" value="true" />
			<entry key="soap.env.ns.map">
				<map>
					<entry key="base" value="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />
					<entry key="breq"
						value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkRequestSchema" />
					<entry key="bresp"
						value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkResponseSchema" />
					<entry key="bfreq"
						value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackRequestSchema" />
					<entry key="bfresp"
						value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" />
					<entry key="qreq"
						value="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryRequestSchema" />
					<entry key="qresp"
						value="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryResponseSchema" />
				</map>
			</entry>
			<entry key="disable.outputstream.optimization" value="true" />
		</jaxws:properties>
	</jaxws:endpoint>

	<aop:aspectj-autoproxy />

	<bean id="performanceMonitor"
		class="org.springframework.aop.interceptor.PerformanceMonitorInterceptor">
		<property name="useDynamicLogger" value="true" />
	</bean>

	<aop:config>
		<aop:pointcut id="allMethods"
			expression="execution(* uk.gov.moj.sdt.handlers.*.*(..))" />
		<aop:advisor pointcut-ref="allMethods" advice-ref="performanceMonitor"
			order="2" />
	</aop:config>

</beans>

