<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Note all ids should be based on fully qualified names (interfaces where
        this is not ambiguous) and all classes should have an interface. -->

    <bean id="uk.gov.moj.sdt.utils.mbeans.api.ISdtMetricsMBean" class="uk.gov.moj.sdt.utils.mbeans.SdtMetricsMBean">
        <property name="customerCounter" ref="uk.gov.moj.sdt.utils.mbeans.api.ICustomerCounter"/>
    </bean>

    <bean id="uk.gov.moj.sdt.utils.mbeans.api.ICustomerCounter" class="uk.gov.moj.sdt.utils.mbeans.CustomerCounter">
    </bean>

</beans>
