<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Note all ids should be based on fully qualified names (interfaces where 
		this is not ambiguous) and all classes should have an interface. -->

    <bean id="uk.gov.moj.sdt.utils.mbeans.api.ISdtManagementMBean" class="uk.gov.moj.sdt.services.mbeans.SdtManagementMBean" >
        <property name="messageListenerContainer" ref="messageListenerContainer"/>
        <property name="individualRequestDao" ref="uk.gov.moj.sdt.dao.api.IIndividualRequestDao"/>
        <property name="messageWriter" ref="uk.gov.moj.sdt.services.messaging.api.IMessageWriter"/>
        <property name="messagingUtility" ref="uk.gov.moj.sdt.services.utils.api.IMessagingUtility"/>
        <property name="targetAppSubmissionService" ref="uk.gov.moj.sdt.services.api.ITargetApplicationSubmissionService"/>
    </bean>

</beans>