java:
  applicationPort: 4550
  image: 'hmctspublic.azurecr.io/civil/sdt:latest'
  ingressHost: civil-sdt-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: civil
  environment:
    SDT_DB_PORT: 5432
    SDT_DB_NAME: civil_sdt
    SDT_DB_HOST: civil-sdt-postgres-db-v11-{{ .Values.global.environment }}.postgres.database.azure.com
    CIVIL_SDT_QUEUE: civil-sdt-in-out-{{ .Values.global.environment }}
  keyVaults:
    civil-sdt:
      secrets:
#        Uncomment once the vault containing the app insights key has been set up
#        - name: AppInsightsInstrumentationKey
#          alias: azure.application-insights.instrumentation-key
        - name: civil-sdt-POSTGRES-USER
          alias: SDT_DB_USERNAME
        - name: civil-sdt-POSTGRES-PASS
          alias: SDT_DB_PASSWORD
        - name: civil-sdt-servicebus-connection-string
          alias: CIVIL_SDT_SERVICEBUS_CONNECTION_STRING
servicebus:
  enabled: false
