java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    SDT_DB_HOST: "{{ .Release.Name }}-postgresql"
    SDT_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    SDT_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
    SDT_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    SDT_DB_PORT: 5432
    CIVIL_SDT_QUEUE: civil-sdt-in-out
  postgresql:
    enabled: true
  keyVaults:
    civil:
      secrets:
        - name: civil-sdt-service-s2s-secret
          alias: CIVIL_SDT_S2S_KEY
        - name: civil-sdt-POSTGRES-USER
          alias: SDT_DB_USERNAME
        - name: civil-sdt-POSTGRES-PASS
          alias: SDT_DB_PASSWORD
        - name: civil-sdt-servicebus-connection-string
          alias: CIVIL_SDT_SERVICEBUS_CONNECTION_STRING
    civil-sdt:
      disabled: true
  secrets:
    CIVIL_SDT_SERVICEBUS_CONNECTION_STRING:
      secretRef: civil-sb-preview
      key: connectionString
servicebus:
  enabled: true
  teamName: CIVIL
  resourceGroup: civil-aso-preview-rg
  sbNamespace: civil-servicebus-preview
  setup:
    queues:
      - name: civil-sdt-in-out
