<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Bulk Submission definition -->
	<bean id="uk.gov.moj.sdt.domain.api.IBulkSumissionA00000001" class="uk.gov.moj.sdt.domain.BulkSubmission">        
        <property name="customerReference" value="USER_FILE_REFERENCE_A1"/>
        <!-- Submission date, this maps to created date in bulk submission -->
        <property name="createdDate">
            <bean class="org.joda.time.LocalDateTime">
                 <constructor-arg index="0" value="2013"/>
                 <constructor-arg index="1" value="7"/>
                 <constructor-arg index="2" value="22"/>
                 <constructor-arg index="3" value="13"/>
                 <constructor-arg index="4" value="0"/> 
            </bean>
        </property>
        <property name="numberOfRequest" value="1"/>
        <property name="submissionStatus" value="Completed"/>       
    </bean>
    
    <!-- Define the Bulk Feedback Factory and pass in the Bulk Submission in the constructor -->
    <bean id="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryA00000001" class="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactory">    	
    	<constructor-arg ref="uk.gov.moj.sdt.domain.api.IBulkSumissionA00000001"/>
    </bean>
    
    <!-- Create the individual requests via method invocation -->   	
 	<bean id="createIndividualRequestA00000001" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
 		<property name="targetObject"><ref bean="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryA00000001"/></property>   		
   		<property name="targetMethod" value="createIndividualRequest"/>
   		<property name="arguments">
     		<list>
     			<!-- Unique  Request Identifier-->
       			<value>USER_REQUEST_ID_A1</value>
       			<!-- Request Type -->
       			<value>mcolClaim</value>
       			<!-- Request Status -->
       			<value>Rejected</value>
       			<!-- Rejection Reason Code -->
       			<value>DUP_CUST_REQID</value>
       			<!-- Rejection Reason Description -->
       			<value>Duplicate User Request Identifier submitted USER_REQUEST_ID_A1.</value>
                <!-- Target response detail -->
				<value/>
	       	</list>
   		</property>
 	</bean>
</beans>
