<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Submit Query Request definition -->
	<bean id="uk.gov.moj.sdt.domain.api.ISubmitQueryRequestMCOLDefence4" class="uk.gov.moj.sdt.domain.SubmitQueryRequest">                
        <property name="resultCount" value="0"/>
        <property name="errorLog"> <ref bean="uk.gov.moj.sdt.producers.comx.utils.IErrorLogMCOLDefence4"/></property>
        <property name="status" value="Error"/>
    </bean>
    
    <!-- Define the Error log -->
    <bean id="uk.gov.moj.sdt.producers.comx.utils.IErrorLogMCOLDefence4" class="uk.gov.moj.sdt.domain.ErrorLog">
    	<property name="errorCode" value="1"/>
    	<property name="errorText" value="Unknown MCOL customer number specified."/>
    </bean>
    
</beans>