<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- Note all ids should be based on fully qualified interface name and 
		all classes should have an interface. -->

	<!-- Endpoint definition for request with injected property for example business object. -->
	<bean id="uk.gov.moj.sdt.producers.prototype.greetingendpoint.IGreetingEndpointPortType"
		class="uk.gov.moj.sdt.producers.prototype.GreetingEndpointPortType">
		<property name="discZoneBusinessObject"
			ref="uk.gov.moj.sdt.producers.prototype.api.IDiscZoneBusinessObject" />
	</bean>

	<!-- Business object definition. -->
	<bean id="uk.gov.moj.sdt.producers.prototype.api.IDiscZoneBusinessObject"
		class="uk.gov.moj.sdt.producers.prototype.DiscZoneBusinessObject">
	</bean>

</beans>