<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- Implementation of BulkRequestToDomainTransformer -->
	<bean id="uk.gov.moj.sdt.transformers.BulkRequestToDomainTransformer"
		class="uk.gov.moj.sdt.transformers.BulkRequestToDomainTransformer">
	</bean>

	<!-- Implementation of BulkFeedbackToDomainTransformer -->
	<bean id="uk.gov.moj.sdt.transformers.BulkFeedbackToDomainTransformer"
		class="uk.gov.moj.sdt.transformers.BulkFeedbackToDomainTransformer">
	</bean>

	<!-- Implementation of SubmitQueryToDomainTransformer -->
	<bean id="uk.gov.moj.sdt.transformers.SubmitQueryToDomainTransformer"
		class="uk.gov.moj.sdt.transformers.SubmitQueryToDomainTransformer">
	</bean>

</beans>
    
