<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <bean
        id="uk.gov.moj.sdt.interceptors.in.PerformanceLoggerInboundInterceptor"
        class="uk.gov.moj.sdt.interceptors.in.PerformanceLoggerInboundInterceptor">
    </bean>

    <bean id="uk.gov.moj.sdt.interceptors.in.XmlInboundInterceptor"
        class="uk.gov.moj.sdt.interceptors.in.XmlInboundInterceptor">
    </bean>

    <bean
        id="uk.gov.moj.sdt.interceptors.in.ServiceRequestInboundInterceptor"
        class="uk.gov.moj.sdt.interceptors.in.ServiceRequestInboundInterceptor"
        lazy-init="true">
        <property name="serviceRequestDao" ref="uk.gov.moj.sdt.dao.api.IGenericDao" />
    </bean>

    <bean id="uk.gov.moj.sdt.interceptors.in.SdtUnmarshallInterceptor"
        class="uk.gov.moj.sdt.interceptors.in.SdtUnmarshallInterceptor">
    </bean>
</beans>