<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- This is the spring configuration file for initialising error bulk feed back data -->

	<!-- Submission date, this maps to created date in bulk submission -->
	<bean id="org.joda.time.LocalDateTime.submissionDateError" class="org.joda.time.LocalDateTime">
		<!-- Use static date of 22 July 2013 -->
		 <constructor-arg index="0" value="2013"/>
		 <constructor-arg index="1" value="7"/>
		 <constructor-arg index="2" value="22"/>
		 <constructor-arg index="3" value="13"/>
		 <constructor-arg index="4" value="0"/>		
	</bean>
	
	<!-- Bulk Submission definition -->
	<bean id="uk.gov.moj.sdt.domain.api.IBulkSumissionError" class="uk.gov.moj.sdt.domain.BulkSubmission">                
        <property name="customerReference" value="USER_FILE_REFERENCE_c1"/>
        <property name="createdDate" ref="org.joda.time.LocalDateTime.submissionDateError" />
        <property name="numberOfRequest" value="123"/>
        <property name="submissionStatus" value="Completed"/>
    </bean>
    
    <!-- Define the Bulk Feedback Factory and pass in the Bulk Submission in the constructor -->
    <bean id="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryC00000001" class="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactory">    	
    	<constructor-arg ref="uk.gov.moj.sdt.domain.api.IBulkSumissionError"/>
    	<!-- Define the system specific response -->
    	<property name="targetResponse">
    		<value>
    			<![CDATA[
                  <ind:mcolResponseDetail xmlns:ind="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" xmlns:mresp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseDetailSchema">
                     <mresp:claimNumber>12345678</mresp:claimNumber>
                     <mresp:issueDate>2012-11-11</mresp:issueDate>
                     <mresp:serviceDate>2012-11-11</mresp:serviceDate>
                     <mresp:warrantNumber>12345678</mresp:warrantNumber>
                     <mresp:enforcingCourtCode>123</mresp:enforcingCourtCode>
                     <mresp:enforcingCourtName>enforcing_court_name</mresp:enforcingCourtName>
                     <mresp:fee>9999</mresp:fee>
                  </ind:mcolResponseDetail>
                ]]>
			</value>
    	</property>    	
    </bean>    

    <!-- Create the individual requests via method invocation -->   	
 	<bean id="createIndividualRequestError" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
 		<property name="targetObject"><ref local="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryC00000001"/></property>   		
   		<property name="targetMethod" value="createIndividualRequest"/>
   		<property name="arguments">
     		<list>
     			<list>
	     			<!-- Unique  Request Identifier-->
	       			<value>USER_REQUEST_ID_c1</value>
	       			<!-- Request Type -->
	       			<value>mcolClaim</value>
	       			<!-- Request Status -->
	       			<value>Rejected</value>
	       			<!-- Rejection Reason Code -->
	       			<value>1</value>
	       			<!-- Rejection Reason Description -->
	       			<value>Unknown MCOL customer number specified.</value>
	       			<!-- Target response -->
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c2</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>2</value>	       			
	       			<value>MCOL customer number specified has not been set up for SDT use on MCOL.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c3</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>3</value>	       			
	       			<value>Direct debit facility is not available.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c4</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>4</value>	       			
	       			<value>Claimant details provided in error.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c5</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>5</value>	       			
	       			<value>Claimant details are missing.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c6</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>6</value>	       			
	       			<value>Claimant correspondence details provided in error.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c7</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>7</value>	       			
	       			<value>Claimant correspondence details are missing.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c8</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	 	       			
	       			<value>8</value>	       			
	       			<value>First defendant's postcode is not in England or Wales.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c9</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	 	       				       			
	       			<value>9</value>	       			
	       			<value>Second defendant cannot have an identical name to the first defendant.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c10</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>10</value>	       			
	       			<value>Second defendant's postcode is not in England or Wales.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c11</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>11</value>	       			
	       			<value>Interest data is only required if the right to claim interest is reserved.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c12</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>12</value>	       			
	       			<value>Interest data is required if the right to claim interest is reserved.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c13</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>
	       			<value>13</value>	       			
	       			<value>Date money became owed is invalid – it must be in the past.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c14</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>14</value>	       			
	       			<value>Date you are issuing the claim must be after the date the money became owed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c15</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>15</value>	       			
	       			<value>Claim amount (interest) cannot be greater than the maximum claim amount allowed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c16</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>16</value>	       			
	       			<value>Daily rate of interest since judgment must not be greater than GBP 9,999.99.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c17</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>17</value>	       			
	       			<value>Maximum number of lines for the claim particulars exceeded.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c18</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>18</value>	       			
	       			<value>Amount claimed cannot be greater than the maximum claim amount allowed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c19</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>19</value>	       			
	       			<value>Solicitor's costs can only be claimed by customers enrolled as a solicitor on MCOL.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c20</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>20</value>	       			
	       			<value>Solicitor's costs cannot be greater than the maximum solicitor's costs allowed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c21</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>21</value>	       			
	       			<value>Costs too high for the amount claimed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c22</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>22</value>	       			
	       			<value>Specified claim does not exist on MCOL.</value>
	       			<value>true</value>
	       		</list><list>	     			
	       			<value>USER_REQUEST_ID_c23</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>23</value>	       			
	       			<value>Specified claim does not belong to the requesting customer.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c24</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>24</value>	       			
	       			<value>This judgment request is invalid on the referenced claim.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c25</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>25</value>	       			
	       			<value>Joint judgment cannot be requested for a claim with only 1 defendant.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c26</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>26</value>	       			
	       			<value>Invalid defendant ID.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c27</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>27</value>	       			
	       			<value>Defendant ID must not be specified on a joint judgment request.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c28</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>28</value>	       			
	       			<value>Defendant 2 is specified but there is only 1 defendant on the claim.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c29</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>29</value>	       			
	       			<value>Not enough days have passed since date of service to allow judgment by default.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c30</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>30</value>	       			
	       			<value>Particulars of claim have not been sent separately as specified on the claim.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c31</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>31</value>	       			
	       			<value>It was not specified on the claim that the particulars of claim would be sent separately.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c32</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>32</value>	       			
	       			<value>Postcode for defendant is not in England or Wales.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c33</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>33</value>	       			
	       			<value>Defendant's date of birth must be in the past.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c34</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>34</value>	       			
	       			<value>Address for second defendant cannot be specified as there is only 1 defendant on the claim.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c35</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>35</value>	       			
	       			<value>Address for second defendant cannot be specified as this is not a joint judgment request.</value>
	       			<value>true</value>
	       		</list>
				<list>	     			
	       			<value>USER_REQUEST_ID_c36</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>36</value>	       			
	       			<value>Postcode for second defendant is not in England or Wales.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c37</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>37</value>	       			
	       			<value>Date of birth for second defendant cannot be specified as there is only 1 defendant on the claim.</value>
	       			<value>true</value>
	       		</list>
				<list>	     			
	       			<value>USER_REQUEST_ID_c38</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>38</value>	       			
	       			<value>Date of birth for second defendant cannot be specified as this is not a joint judgment request.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c39</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>39</value>	       			
	       			<value>Second defendant's date of birth must be in the past.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c44</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>44</value>	       			
	       			<value>Installment amount must be less than the full claim amount.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c49</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>49</value>	       			
	       			<value>Paid in full date must be in the future but not tomorrow.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c50</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>50</value>	       			
	       			<value>Interest specified but right to claim interest was not reserved on the claim.</value>
	       			<value>true</value>
	       		</list>
				<list>	     			
	       			<value>USER_REQUEST_ID_c51</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>51</value>	       			
	       			<value>Interest since date of claim must not be greater than the maximum allowed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c52</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>52</value>	       			
	       			<value>Interest cannot be specified when requesting a judgment by admission following a part admission.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c52b</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>DUPLD_CUST_REQID</value>	       			
	       			<value>Unique Request Identifier has been specified more than once within the originating Bulk Request.</value>
	       			<value>false</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c54</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>54</value>	       			
	       			<value>Costs must not be greater than the maximum allowed for the amount claimed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c55</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>55</value>	       			
	       			<value>Deducted amount must not be greater than the maximum deduction allowed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c56</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>56</value>	       			
	       			<value>Deducted amount results in negative judgment total.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c57</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>57</value>	       			
	       			<value>This warrant request is invalid on the referenced claim.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c58</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>58</value>	       			
	       			<value>Warrant cannot be requested for this defendant.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c60</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>60</value>	       			
	       			<value>Balance due at date of request must be greater than the minimum amount allowed and not greater than the maximum allowed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c61</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>61</value>	       			
	       			<value>Balance due at date of request must not be greater than the judgment total.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c62</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>62</value>	       			
	       			<value>Warrant amount must not be less than the minimum warrant amount and not greater than the balance due at date of request.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c63</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>63</value>	       			
	       			<value>Amount of warrant plus issue fee plus solicitor's costs are greater than the maximum total warrant allowed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c64</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>64</value>	       			
	       			<value>Solicitor's costs can only be included on the warrant if they were included on the claim.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c65</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>65</value>	       			
	       			<value>Solicitor's costs included on the warrant when the warrant amount is too small.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c66</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>66</value>	       			
	       			<value>Solicitor's costs must not be greater than the maximum allowed.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c67</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>67</value>	       			
	       			<value>This claim status update is invalid on the referenced claim.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c68</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>68</value>	       			
	       			<value>Defendant number specified for a claim with a single defendant.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c69</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>69</value>	       			
	       			<value>Defendant cannot be specified for an update type of Settled.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c70</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>70</value>	       			
	       			<value>Invalid status update requested for this defendant.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c71</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>71</value>	       			
	       			<value>Paid in full date specified in error.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c72</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>72</value>	       			
	       			<value>Paid in full date missing.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c73</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>73</value>	       			
	       			<value>Paid in full date not in the future.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c75a</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>75</value>	       			
	       			<value>Rejected by CCBC - rejection number 1234500</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c75b</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>75</value>	       			
	       			<value>Judgement rejected by CCBC - rejection number 1234500</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c75c</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>75</value>	       			
	       			<value>Warrant rejected by CCBC - rejection number 1234500</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c75d</value>	       			
	       			<value>mcolJudgmentWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>75</value>	       			
	       			<value>Warrant rejected by CCBC - rejection number 1234500</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c75e</value>	       			
	       			<value>mcolJudgmentWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>75</value>	       			
	       			<value>Judgment rejected by CCBC - rejection number 1234500</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c75f</value>	       			
	       			<value>mcolJudgmentWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>75</value>	       			
	       			<value>Judgment rejected by CCBC – rejection number 1234500. Warrant rejected by CCBC - rejection number 1234600.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c75g</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>75</value>	       			
	       			<value>Rejected by CCBC – rejection number 1234500.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c76</value>	       			
	       			<value>mcolJudgmentWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>76</value>	       			
	       			<value>Incoming message content inconsistent with stated request type.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c79</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>79</value>	       			
	       			<value>Solicitor's costs on judgment cannot be specified when requesting a judgment by admission following a part admission.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c80</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>80</value>	       			
	       			<value>Deducted amount cannot be specified when requesting a judgment by admission following a part admission.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c81</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>81</value>	       			
	       			<value>Judgment amount can only be specified when requesting a judgment by admission following a part admission.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c82</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>82</value>	       			
	       			<value>Judgment amount must be specified when requesting a judgment by admission following a part admission.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c83</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>83</value>	       			
	       			<value>No updates allowed to claim following application to set judgment aside.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_c84</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>84</value>	       			
	       			<value>Update type of Discontinued not allowed once judgment has been issued.</value>
	       			<value>true</value>
	       		</list>
	       	</list>
		</property>
	</bean>
</beans>
