<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- Mock implementation for Submit Query Service -->        
    <bean id="uk.gov.moj.sdt.services.api.ISubmitQueryService" 
        class="uk.gov.moj.sdt.services.MockSubmitQueryService"> 
        <property name="responseContentMap">
        	<map>
        		<entry key="mcolDefenceCriteria">
        			<value>
        				<![CDATA[
							<ns3:mcolDefenceDetail>
								<ns3:claimNumber>12345678</ns3:claimNumber>
                        		<ns3:defendant defendantId="1">
	                        		<ns3:filedDate>2001-12-31T12:00:00</ns3:filedDate>
	                        		<ns3:responseType>PA</ns3:responseType>
                        		</ns3:defendant>
                        	</ns3:mcolDefenceDetail>
                        	<ns3:mcolDefenceDetail>
                        		<ns3:claimNumber>12345678</ns3:claimNumber>
                        		<ns3:defendant defendantId="2">
	                        		<ns3:filedDate>2001-12-31T12:00:00</ns3:filedDate>
	                        		<ns3:responseType>PA</ns3:responseType>
                        		</ns3:defendant>
                        	</ns3:mcolDefenceDetail>
                        	<ns3:mcolDefenceDetail>
                        		<ns3:claimNumber>22345678</ns3:claimNumber>
                        		<ns3:defendant defendantId="3">
                        			<ns3:filedDate>2001-12-31T12:00:00</ns3:filedDate>
                        			<ns3:responseType>PA</ns3:responseType>
                        		</ns3:defendant>
                        	</ns3:mcolDefenceDetail>
                        	<ns3:mcolDefenceDetail>
                        		<ns3:claimNumber>32345678</ns3:claimNumber>
                        		<ns3:defendant defendantId="4">
	                        		<ns3:filedDate>2001-12-31T12:00:00</ns3:filedDate>
	                        		<ns3:responseType>PA</ns3:responseType>
                        		</ns3:defendant>
                        	</ns3:mcolDefenceDetail>
                        	<ns3:mcolDefenceDetail>
                        		<ns3:claimNumber>42345678</ns3:claimNumber>
                        		<ns3:defendant defendantId="5">
                        			<ns3:filedDate>2001-12-31T12:00:00</ns3:filedDate>
                        			<ns3:responseType>PA</ns3:responseType>
                        		</ns3:defendant>
                        	</ns3:mcolDefenceDetail>
                		]]>
        			</value>
        		</entry>
        	</map>
        </property>       
    </bean> 
	
    <!-- Mock implementation for Bulk Submission Service -->        
    <bean id="uk.gov.moj.sdt.services.api.IBulkSubmissionService" 
        class="uk.gov.moj.sdt.services.MockBulkSubmissionService">
        <property name="sdtBulkReferenceGenerator" ref="uk.gov.moj.sdt.utils.api.ISdtBulkReferenceGenerator"/>
    </bean>

    <!-- Mock implementation for Bulk Feedback Service -->        
    <bean id="uk.gov.moj.sdt.services.api.IBulkFeedbackService" 
        class="uk.gov.moj.sdt.services.MockBulkFeedbackService">       
        <property name="bulkFeedbackFactoryMap">
        	<map>
        		<!-- These keys also appear in MockBulkSubmissionDao.java for the SDT bulk reference check -->
        		<entry key="MCOL_20130722_B00000001" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryUploaded"/>
        		<entry key="MCOL_20130722_B00000002" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryCompleted"/>        		
        		<entry key="MCOL_20130722_C00000001" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryError"/> 
        	</map>
        </property>                
    </bean>	
</beans>