<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- Mock implementation for Submit Query Service -->        
    <bean id="uk.gov.moj.sdt.services.api.ISubmitQueryService" 
        class="uk.gov.moj.sdt.services.MockSubmitQueryService"> 
        <property name="responseContentMap">
        	<map>
        		<entry key="mcolDefenceCriteria">
        			<value>
        				<![CDATA[
							<sub:mcolDefenceDetail xmlns:sub="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryResponseSchema" xmlns:mquer="http://ws.sdt.moj.gov.uk/2013/mcol/QuerySchema">
								<mquer:claimNumber>12345678</mquer:claimNumber>
                        		<mquer:defendant defendantId="1">
	                        		<mquer:filedDate>2001-12-31T12:00:00</mquer:filedDate>
	                        		<mquer:responseType>PA</mquer:responseType>
                        		</mquer:defendant>
                        	</sub:mcolDefenceDetail>
                        	<sub:mcolDefenceDetail xmlns:sub="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryResponseSchema" xmlns:mquer="http://ws.sdt.moj.gov.uk/2013/mcol/QuerySchema">
                        		<mquer:claimNumber>12345678</mquer:claimNumber>
                        		<mquer:defendant defendantId="2">
	                        		<mquer:filedDate>2001-12-31T12:00:00</mquer:filedDate>
	                        		<mquer:responseType>PA</mquer:responseType>
                        		</mquer:defendant>
                        	</sub:mcolDefenceDetail>
                        	<sub:mcolDefenceDetail xmlns:sub="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryResponseSchema" xmlns:mquer="http://ws.sdt.moj.gov.uk/2013/mcol/QuerySchema">
                        		<mquer:claimNumber>22345678</mquer:claimNumber>
                        		<mquer:defendant defendantId="3">
                        			<mquer:filedDate>2001-12-31T12:00:00</mquer:filedDate>
                        			<mquer:responseType>PA</mquer:responseType>
                        		</mquer:defendant>
                        	</sub:mcolDefenceDetail>
                        	<sub:mcolDefenceDetail xmlns:sub="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryResponseSchema" xmlns:mquer="http://ws.sdt.moj.gov.uk/2013/mcol/QuerySchema">
                        		<mquer:claimNumber>32345678</mquer:claimNumber>
                        		<mquer:defendant defendantId="4">
	                        		<mquer:filedDate>2001-12-31T12:00:00</mquer:filedDate>
	                        		<mquer:responseType>PA</mquer:responseType>
                        		</mquer:defendant>
                        	</sub:mcolDefenceDetail>
                        	<sub:mcolDefenceDetail xmlns:sub="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryResponseSchema" xmlns:mquer="http://ws.sdt.moj.gov.uk/2013/mcol/QuerySchema">
                        		<mquer:claimNumber>42345678</mquer:claimNumber>
                        		<mquer:defendant defendantId="5">
                        			<mquer:filedDate>2001-12-31T12:00:00</mquer:filedDate>
                        			<mquer:responseType>PA</mquer:responseType>
                        		</mquer:defendant>
                        	</sub:mcolDefenceDetail>
                		]]>
        			</value>
        		</entry>
        	</map>
        </property>       
    </bean> 
	
    <!-- Mock implementation for Bulk Submission Service -->        
    <bean id="uk.gov.moj.sdt.services.api.IBulkSubmissionService" 
        class="uk.gov.moj.sdt.services.MockBulkSubmissionService">
        <property name="sdtBulkReferenceGenerator" ref="uk.gov.moj.sdt.utils.api.ISdtBulkReferenceGenerator"/>
    </bean>

    <!-- Mock implementation for Bulk Feedback Service -->        
    <bean id="uk.gov.moj.sdt.services.api.IBulkFeedbackService" 
        class="uk.gov.moj.sdt.services.MockBulkFeedbackService">       
        <property name="bulkFeedbackFactoryMap">
        	<map>
        		<!-- These keys also appear in MockBulkSubmissionDao.java for the SDT bulk reference check -->
        		<entry key="MCOL_20130722000000_B00000001" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryUploaded"/>
        		<entry key="MCOL_20130722000000_B00000002" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryCompleted"/>        		
        		<entry key="MCOL_20130722000000_C00000001" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryError"/> 
        	</map>
        </property>                
    </bean>	
    
    <!-- Mock implementation for Update Item service, this is not really used but included 
    	here so that the deployment of the producers commissioning goes smooth -->
    <bean id="uk.gov.moj.sdt.services.api.IUpdateRequestService" 
    	class="uk.gov.moj.sdt.services.MockUpdateRequestService">
    </bean>
</beans>