<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

<!-- This is the spring configuration file for initialising uploaded bulk feed back data -->

	<!-- Submission date, this maps to created date in bulk submission -->
	<bean id="org.joda.time.LocalDateTime.submissionDateUploaded" class="org.joda.time.LocalDateTime">
		<!-- Use static date of 22 July 2013 -->
		 <constructor-arg index="0" value="2013"/>
		 <constructor-arg index="1" value="7"/>
		 <constructor-arg index="2" value="22"/>
		 <constructor-arg index="3" value="13"/>
		 <constructor-arg index="4" value="0"/>	
	</bean>
	
	<!-- Bulk Submission definition -->
	<bean id="uk.gov.moj.sdt.domain.api.IBulkSumissionUploaded" class="uk.gov.moj.sdt.domain.BulkSubmission">        
        <property name="customerReference" value="USER_FILE_REFERENCE_B1"/>
        <property name="createdDate" ref="org.joda.time.LocalDateTime.submissionDateUploaded" />
        <property name="numberOfRequest" value="16"/>
        <property name="submissionStatus" value="Validated"/>       
    </bean>
    
    <!-- Define the Bulk Feedback Factory and pass in the Bulk Submission in the constructor -->
    <bean id="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryUploaded" class="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactory">    	
    	<constructor-arg ref="uk.gov.moj.sdt.domain.api.IBulkSumissionUploaded"/>
    	<!-- Define the system specific response -->
    	<property name="targetResponse">
    		<value>
    			<![CDATA[
                  <ind:mcolResponseDetail xmlns:ind="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" xmlns:mresp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseDetailSchema">
                     <mresp:claimNumber>12345678</mresp:claimNumber>
                     <mresp:issueDate>2012-11-11</mresp:issueDate>
                     <mresp:serviceDate>2012-11-11</mresp:serviceDate>
                     <mresp:warrantNumber>12345678</mresp:warrantNumber>
                     <mresp:enforcingCourtCode>123</mresp:enforcingCourtCode>
                     <mresp:enforcingCourtName>enforcing_court_name</mresp:enforcingCourtName>
                     <mresp:fee>9999</mresp:fee>
                  </ind:mcolResponseDetail>
                ]]>
			</value>
    	</property>
    </bean>
    
    <!-- Create the individual requests via method invocation -->   	
 	<bean id="createIndividualRequestUploaded" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
 		<property name="targetObject"><ref local="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryUploaded"/></property>   		
   		<property name="targetMethod" value="createIndividualRequest"/>
   		<property name="arguments">
     		<list>
     			<list>
	     			<!-- Unique  Request Identifier-->
	       			<value>USER_REQUEST_ID_B1a</value>
	       			<!-- Request Type -->
	       			<value>mcolClaim</value>
	       			<!-- Request Status -->
	       			<value>Rejected</value>
	       			<!-- Rejection Reason Code -->
	       			<value>DUP_CUST_REQID</value>
	       			<!-- Rejection Reason Description -->
	       			<value>Duplicate User Request Identifier submitted USER_REQUEST_ID_B1a.</value>
	       			<!-- Target response -->
	       			<value>false</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B1b</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>DUPLD_CUST_REQID</value>	       			
	       			<value>Unique Request Identifier has been specified more than once within the originating Bulk Request.</value>
	       			<value>false</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B2</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>8</value>	       			
	       			<value>First defendant's postcode is not in England or Wales.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B3</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B4</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B5</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>22</value>	       			
	       			<value>Specified claim does not exist on MCOL.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B6</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B7</value>	       			
	       			<value>mcolJudgmentWarrant</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B8</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>67</value>	       			
	       			<value>This claim status update is invalid on the referenced claim.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B9</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>23</value>	       			
	       			<value>Specified claim does not belong to the requesting customer.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B10</value>	       			
	       			<value>mcolJudgmentWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>22</value>	       			
	       			<value>Specified claim does not exist on MCOL.</value>
	       			<value>true</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B11</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>SYS_ERR_VAL</value>	       			
	       			<value>A system error has occurred. Please contact TBC for assistance.</value>
	       			<value>false</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B12</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Forwarded</value>	       			
	       			<value>REQ_NOT_ACK</value>	       			
	       			<value>Individual Request not acknowledged by Target Application. Please contact TBC for assistance.</value>
	       			<value>false</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B13</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Forwarded</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>false</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B14</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Received</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>false</value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B15</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Received</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>false</value>
	       		</list>
     		</list>
   		</property>
 	</bean>
</beans>
