<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:jaxws="http://cxf.apache.org/jaxws"  xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<bean id="jaxWsProxyFactory"  class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="uk.gov.moj.sdt.ws._2013.sdt.targetappinternalendpoint.ITargetAppInternalEndpointPortType"/>
        <property name="address" value="http://dummhost/overridden/dynamically"/>
        <property name="bindingId" value="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        <property name="outInterceptors">
            <list>
                <ref bean="uk.gov.moj.sdt.interceptors.out.XmlOutboundInterceptor" />
            </list>
        </property>
        <property name="inInterceptors">
            <list>
                <ref bean="uk.gov.moj.sdt.interceptors.in.XmlInboundInterceptor" />
            </list>
        </property>
        <property name="features">
            <bean class="org.apache.cxf.feature.LoggingFeature"/>
        </property>
        <property name="properties">
            <map>
                <entry key="soap.env.ns.map"> 
                    <map> 
                        <entry key="tsqreq" value="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/SubmitQueryRequestSchema"/> 
                        <entry key="tsqres" value="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/SubmitQueryResponseSchema"/> 
                        <entry key="base" value="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"/> 
                        <entry key="tireq" value="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvRequestSchema"/> 
                        <entry key="tires" value="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvResponseSchema"/> 
                    </map> 
                </entry> 
            <entry key="disable.outputstream.optimization" value="true"/> 
            </map>
        </property>
    </bean>
        
        
    <bean id="uk.gov.moj.sdt.ws._2013.sdt.targetappinternalendpoint.ITargetAppInternalEndpointPortType" 
        class="uk.gov.moj.sdt.ws._2013.sdt.targetappinternalendpoint.ITargetAppInternalEndpointPortType"  
        factory-bean="jaxWsProxyFactory" factory-method="create" scope="prototype"/>

	<bean id="uk.gov.moj.sdt.consumers.AbstractWsConsumer" class="uk.gov.moj.sdt.consumers.AbstractWsConsumer" abstract="true">
		<lookup-method name="createTargetAppEndPoint" bean="uk.gov.moj.sdt.ws._2013.sdt.targetappinternalendpoint.ITargetAppInternalEndpointPortType"/>
	</bean>

	<bean id="uk.gov.moj.sdt.consumers.api.IConsumerGateway" class="uk.gov.moj.sdt.consumers.ConsumerGateway">
		<property name="individualRequestConsumer" ref="uk.gov.moj.sdt.consumers.api.IIndividualRequestConsumer"/>
        <property name="submitQueryConsumer" ref="uk.gov.moj.sdt.consumers.api.ISubmitQueryConsumer"/>
	</bean>
	
    <bean id="uk.gov.moj.sdt.consumers.api.IIndividualRequestConsumer" class="uk.gov.moj.sdt.consumers.IndividualRequestConsumer">
        <property name="transformer" ref="uk.gov.moj.sdt.transformers.IndividualRequestConsumerTransformer"/>
        <property name="rethrowOnFailureToConnect" value="false"/>
        <lookup-method name="createTargetAppEndPoint" bean="uk.gov.moj.sdt.ws._2013.sdt.targetappinternalendpoint.ITargetAppInternalEndpointPortType"/>
    </bean>

	<bean id="uk.gov.moj.sdt.consumers.api.ISubmitQueryConsumer" class="uk.gov.moj.sdt.consumers.SubmitQueryConsumer">
		<property name="transformer" ref="uk.gov.moj.sdt.transformers.SubmitQueryConsumerTransformer"/>
		<lookup-method name="createTargetAppEndPoint" bean="uk.gov.moj.sdt.ws._2013.sdt.targetappinternalendpoint.ITargetAppInternalEndpointPortType"/>
	</bean>
	
</beans>
