<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	

	<bean id="uk.gov.moj.sdt.consumers.Consumer" class="uk.gov.moj.sdt.consumers.Consumer">
	</bean>

	<!-- Publish the service endpoints. How does it know what these are? -->
	<bean class="org.springframework.remoting.jaxws.SimpleJaxWsServiceExporter">
		<!-- Not sure what this port is really used for as changing it has no effect 
			(as long as it does not clash with another open port) -->
		<property name="baseAddress" value="http://localhost:8887/" />
	</bean>

</beans>
