<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
    default-autowire="no" default-lazy-init="false">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
           <list>
               <value>classpath:uk/gov/moj/sdt/dao/datasource.properties</value>
           </list>
         </property>
    </bean>

    <!-- Following data source will later need to be changed to JNDI data source with pooling --> 
    <bean id="javax.sql.DataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="${db.driver}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.user}" />
        <property name="password" value="${db.pass}" />
    </bean>

    <!-- C3P0 connection pool -->
	<!-- Disabled for now 
    <bean id="javax.sql.DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${db.driver}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="user" value="${db.user}"/>
        <property name="password" value="${db.pass}"/>
        <property name="initialPoolSize" value="${db.pool.initialSize}"/>
        <property name="minPoolSize" value="${db.pool.minIdle}"/>
        <property name="maxPoolSize" value="${db.pool.maxIdle}"/>
        <property name="acquireIncrement" value="1"/>
        <property name="acquireRetryAttempts" value="0"/>
    </bean>
    -->
    
</beans>
