<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

    <Properties>
        <Property name="pattern" value="%d [%t] %p %c %L | %m%n" />
        <Property name="log.dir" value="../logs" />
        <Property name="sdt.consumer.sample.log" value="sdt-consumer-sample" />
    </Properties>

    <Appenders>

        <!-- Define appender to log console messages -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>

        <!-- Define appender (log file) to which all SDT messages are written -->
        <RollingFile name="rolling"
                    filename="${log.dir}/${sdt.consumer.sample.log}.log"
                    filePattern="logs/${sdt.consumer.sample.log}-%d{ddMMyyyy}-%i.log">
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="30MB" />
            </Policies>
            <DefaultRolloverStrategy max="4" />
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Logger for SDT client code -->
        <!-- N.B. additivity=true will cause this logger to log message and then 
            pass message to root logger -->
        <Logger name="uk.gov.moj.sdt.sdk" level="info" additivity="true">
            <AppenderRef ref="rolling" />
        </Logger>

        <!-- Logger for spring code -->
        <Logger name="org.springframework" level="warn" additivity="true">
            <AppenderRef ref="rolling" />
        </Logger>

        <!-- Logger for http client code -->
        <Logger name="httpclient" level="warn" additivity="true">
            <AppenderRef ref="rolling" />
        </Logger>

        <!-- Root logger. If other loggers have additivity=true, messages will be 
            logged by the root logger also. Set to 'debug' level to ensure all messages 
            are capable of being logged -->
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>

    </Loggers>

</Configuration>