<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- Note all ids should be based on fully qualified names (interfaces where 
		this is not ambiguous) and all classes should have an interface. -->

	<!-- Sdt Bulk Reference number generator. -->
	<bean id="uk.gov.moj.sdt.services.utils.api.ISdtBulkReferenceGenerator" class="uk.gov.moj.sdt.services.utils.SdtBulkReferenceGenerator">
		<property name="genericDao" ref="uk.gov.moj.sdt.dao.api.IGenericDao" />
	</bean>
	
	<bean id="uk.gov.moj.sdt.services.utils.api.IMessagingUtility" class="uk.gov.moj.sdt.services.utils.MessagingUtility">
		<property name="messageSynchronizer" ref="uk.gov.moj.sdt.utils.transaction.synchronizer.api.IMessageSynchronizer"/>
    	<property name="messageWriter" ref="uk.gov.moj.sdt.services.messaging.api.IMessageWriter"/>
	</bean>
    
	<!-- Individual Requests Xml Parser. -->
	<bean id="uk.gov.moj.sdt.services.utils.IndividualRequestsXmlParser" class="uk.gov.moj.sdt.services.utils.IndividualRequestsXmlParser">
        <property name="replacementNamespaces">
            <map>
                <entry key="http://ws.sdt.moj.gov.uk/2013/sdt/BulkRequestSchema" value="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvRequestSchema"/>
            </map>
        </property>
	</bean>

    <!-- Individual Response Xml Parser. -->
    <bean id="uk.gov.moj.sdt.services.utils.IndividualResponseXmlParser" class="uk.gov.moj.sdt.services.utils.GenericXmlParser">
        <property name="enclosingTag">
            <value>targetAppDetail</value>
        </property>
        <property name="replacementNamespaces">
            <map>
                <entry key="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvResponseSchema" value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema"/>
            </map>
        </property>
    </bean>

    <!-- Submit Query Response Xml Parser. -->
    <bean id="uk.gov.moj.sdt.services.utils.SubmitQueryResponseXmlParser" class="uk.gov.moj.sdt.services.utils.GenericXmlParser">
        <property name="enclosingTag">
            <value>targetAppDetail</value>
        </property>
        <property name="replacementNamespaces">
            <map>
                <entry key="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/SubmitQueryResponseSchema" value="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryResponseSchema"/>
            </map>
        </property>
    </bean>

    <!-- Submit Query Request Xml Parser. -->
    <bean id="uk.gov.moj.sdt.services.utils.SubmitQueryRequestXmlParser" class="uk.gov.moj.sdt.services.utils.GenericXmlParser">
        <property name="enclosingTag">
            <value>criterion</value>
        </property>
        <property name="replacementNamespaces">
            <map>
                <entry key="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryRequestSchema" value="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/SubmitQueryRequestSchema"/>
            </map>
        </property>
    </bean>

</beans>