<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- Note all ids should be based on fully qualified names (interfaces where 
		this is not ambiguous) and all classes should have an interface. -->

	<!-- Sdt Bulk Reference number generator. -->
	<bean id="uk.gov.moj.sdt.utils.api.ISdtBulkReferenceGenerator" class="uk.gov.moj.sdt.utils.SdtBulkReferenceGenerator">
		<property name="genericDao" ref="uk.gov.moj.sdt.dao.api.IGenericDao" />
	</bean>
    
	<!-- Individual Requests Xml Parser. -->
	<bean id="uk.gov.moj.sdt.utils.IndividualRequestsXmlParser" class="uk.gov.moj.sdt.utils.IndividualRequestsXmlParser">
        <property name="replacementNamespaces">
            <map>
                <entry key="http://ws.sdt.moj.gov.uk/2013/sdt/BulkRequestSchema" value="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvRequestSchema"/>
            </map>
        </property>
	</bean>

    <!-- Individual Response Xml Parser. -->
    <bean id="uk.gov.moj.sdt.utils.IndividualResponseXmlParser" class="uk.gov.moj.sdt.utils.GenericXmlParser">
        <property name="enclosingTag">
            <value>targetAppDetail</value>
        </property>
        <property name="replacementNamespaces">
            <map>
                <entry key="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvResponseSchema" value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema"/>
            </map>
        </property>
    </bean>

</beans>