<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jaxws="http://cxf.apache.org/jaxws"  xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <!-- Configures CXF component. Enables logging of request and response payload. -->
    <cxf:bus>
        <cxf:inInterceptors>
            <ref bean="uk.gov.moj.sdt.interceptors.in.XmlInboundInterceptor" />
        </cxf:inInterceptors>
        <cxf:outInterceptors>
            <ref bean="uk.gov.moj.sdt.interceptors.out.XmlOutboundInterceptor" />
        </cxf:outInterceptors>
        <cxf:features>
            <cxf:logging />
        </cxf:features>
    </cxf:bus>

    <!-- The # prefix, in implementor attribute, indicates bean of type ... The name of the interface which this endpoint must implement -->
    <jaxws:endpoint id="sdtapi" 
                implementor="#uk.gov.moj.sdt.ws._2013.sdt.sdtendpoint.ISdtEndpointPortType" 
                address="/sdtapi">
        <jaxws:properties>
            <entry key="schema-validation-enabled" value="false"/>
        </jaxws:properties>
    </jaxws:endpoint>

</beans>