<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" 
    xmlns:jaxws="http://cxf.apache.org/jaxws"  xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <!-- The # prefix, in implementor attribute, indicates bean of type ... The name of the interface which this endpoint must implement -->
    <jaxws:endpoint id="sdtapi" 
                implementor="#uk.gov.moj.sdt.ws._2013.sdt.sdtendpoint.ISdtEndpointPortType" 
                address="/sdtapi">
        <jaxws:inInterceptors>
            <ref bean="uk.gov.moj.sdt.interceptors.in.XmlInboundInterceptor" />
            <ref bean="uk.gov.moj.sdt.interceptors.in.SdtUnmarshallInterceptor" />
            <ref bean="uk.gov.moj.sdt.interceptors.in.ServiceRequestInboundInterceptor" />
        </jaxws:inInterceptors>
        <jaxws:outInterceptors>
            <ref bean="uk.gov.moj.sdt.interceptors.out.CacheSetupOutboundInterceptor" />              
            <ref bean="uk.gov.moj.sdt.interceptors.out.XmlOutboundInterceptor" />              
            <ref bean="uk.gov.moj.sdt.interceptors.out.ServiceRequestOutboundInterceptor" />              
            <ref bean="uk.gov.moj.sdt.interceptors.out.CacheEndOutboundInterceptor" />              
        </jaxws:outInterceptors>
        <jaxws:outFaultInterceptors>
        	<ref bean="uk.gov.moj.sdt.interceptors.out.FaultOutboundInterceptor" />
        </jaxws:outFaultInterceptors>
        <jaxws:properties>
            <entry key="schema-validation-enabled" value="false"/>
            <entry key="soap.env.ns.map"> 
                <map> 
                    <entry key="base" value="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"/> 
                    <entry key="breq" value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkRequestSchema"/> 
                    <entry key="bresp" value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkResponseSchema"/> 
                    <entry key="bfreq" value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackRequestSchema"/>
                    <entry key="bfresp" value="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema"/>
                    <entry key="qreq" value="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryRequestSchema"/>
                    <entry key="qresp" value="http://ws.sdt.moj.gov.uk/2013/sdt/SubmitQueryResponseSchema"/>
                </map> 
            </entry> 
            <entry key="disable.outputstream.optimization" value="true"/> 
        </jaxws:properties>
    </jaxws:endpoint>
    
    <!-- The # prefix, in implementor attribute, indicates bean of type ... The name of the interface which this endpoint must implement -->
    <jaxws:endpoint id="sdtinternalapi" 
                implementor="#uk.gov.moj.sdt.ws._2013.sdt.sdtinternalendpoint.ISdtInternalEndpointPortType" 
                address="/sdtinternalapi">
        <jaxws:inInterceptors>
            <ref bean="uk.gov.moj.sdt.interceptors.in.XmlInboundInterceptor" />
            <ref bean="uk.gov.moj.sdt.interceptors.in.SdtUnmarshallInterceptor" />
        </jaxws:inInterceptors>
        <jaxws:outFaultInterceptors>
        	<ref bean="uk.gov.moj.sdt.interceptors.out.FaultOutboundInterceptor" />
        </jaxws:outFaultInterceptors>
        <jaxws:features>
            <bean class="org.apache.cxf.feature.LoggingFeature"/>
        </jaxws:features>
        <jaxws:properties>
            <entry key="schema-validation-enabled" value="false"/>
        </jaxws:properties>
    </jaxws:endpoint>
    
    <!-- Daemon threads for the pending message service task. Cron is set to run on top of every hour every day-->
    <task:scheduled-tasks scheduler="sdtScheduler">
    	<task:scheduled ref="uk.gov.moj.sdt.services.api.IRetryMessageAlreadySentService" method="queueMessages" cron="0 0 * * * ?"/>
		<!-- Add similar entry to above to add more tasks -->    	
	</task:scheduled-tasks>

	<task:scheduler id="sdtScheduler" pool-size="10"/> 

</beans>