<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Import the Spring datasource configuration -->
	<import resource="classpath:uk/gov/moj/sdt/dao/spring.datasource.xml" />

	<!-- Factory to make session objects -->
	<bean id="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- Inject dataSource -->
		<property name="dataSource" ref="javax.sql.DataSource" />

		<!-- Set hibernate properties -->
		<property name="configLocation">
			<value>classpath:uk/gov/moj/sdt/dao/hibernate.cfg.xml</value>
		</property>

		<!-- Set mapping resources -->
		<property name="mappingLocations">
			<array>
				<value>classpath:uk/gov/moj/sdt/domain/*.hbm.xml</value>
			</array>
		</property>
	</bean>

	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="org.springframework.orm.hibernate5.LocalSessionFactoryBean" />
		</property>
	</bean>

	<!-- Enable Annotation driven transaction management -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>
