<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Bulk Submission definition -->
	<bean id="uk.gov.moj.sdt.domain.api.IBulkSumissionB00000001" class="uk.gov.moj.sdt.domain.BulkSubmission">        
        <property name="customerReference" value="USER_FILE_REFERENCE_B1"/>
        <!-- Submission date, this maps to created date in bulk submission -->
        <property name="createdDate">
            <bean class="org.joda.time.LocalDateTime">
                 <constructor-arg index="0" value="2014"/>
                 <constructor-arg index="1" value="1"/>
                 <constructor-arg index="2" value="22"/>
                 <constructor-arg index="3" value="13"/>
                 <constructor-arg index="4" value="0"/> 
            </bean>
        </property>
        <property name="numberOfRequest" value="19"/>
        <property name="submissionStatus" value="Validated"/>       
    </bean>
    
    <!-- Define the Bulk Feedback Factory and pass in the Bulk Submission in the constructor -->
    <bean id="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryB00000001" class="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactory">    	
    	<constructor-arg ref="uk.gov.moj.sdt.domain.api.IBulkSumissionB00000001"/>
    </bean>
    
    <!-- Create the individual requests via method invocation -->   	
 	<bean id="createIndividualRequestB0000001" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
 		<property name="targetObject"><ref bean="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryB00000001"/></property>   		
   		<property name="targetMethod" value="createIndividualRequests"/>
   		<property name="arguments">
     		<list>
     			<list>
	     			<!-- Unique  Request Identifier-->
	       			<value>USER_REQUEST_ID_B1a</value>
	       			<!-- Request Type -->
	       			<value>mcolClaim</value>
	       			<!-- Request Status -->
	       			<value>Rejected</value>
	       			<!-- Rejection Reason Code -->
	       			<value>DUP_CUST_REQID</value>
	       			<!-- Rejection Reason Description -->
	       			<value>Duplicate User Request Identifier submitted USER_REQUEST_ID_B1a.</value>
                    <!-- Target response detail -->
                    <value/>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B1b</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>DUPLD_CUST_REQID</value>	       			
	       			<value>Unique Request Identifier has been specified more than once within the originating Bulk Request.</value>
                    <value/>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B1b</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>DUPLD_CUST_REQID</value>	       			
	       			<value>Unique Request Identifier has been specified more than once within the originating Bulk Request.</value>
                    <value/>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B2</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>8</value>	       			
	       			<value>First defendant's postcode is not in England or Wales.</value>
                    <value/>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B3</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
                    <value>
                        <![CDATA[
                          <ind:mcolResponseDetail xmlns:ind="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" xmlns:mresp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseDetailSchema">
                             <mresp:firstPaymentDate>2014-02-14</mresp:firstPaymentDate>
                          </ind:mcolResponseDetail>
                        ]]>
                    </value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B4</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value></value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B5</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>24</value>	       			
	       			<value>This judgment request is invalid on the referenced claim.</value>
	       			<value></value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B6</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
                    <value>
                        <![CDATA[
                          <ind:mcolResponseDetail xmlns:ind="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" xmlns:mresp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseDetailSchema">
                             <mresp:warrantNumber>0Z000150</mresp:warrantNumber>
                             <mresp:enforcingCourtCode>127</mresp:enforcingCourtCode>
                             <mresp:enforcingCourtName>BIRMINGHAM</mresp:enforcingCourtName>
                             <mresp:fee>10000</mresp:fee>
                          </ind:mcolResponseDetail>
                        ]]>
                    </value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B7</value>	       			
	       			<value>mcolJudgmentWarrant</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>
                        <![CDATA[
                          <ind:mcolResponseDetail xmlns:ind="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" xmlns:mresp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseDetailSchema">
                             <mresp:firstPaymentDate>2014-03-03</mresp:firstPaymentDate>
                             <mresp:warrantNumber>0Z000151</mresp:warrantNumber>
                             <mresp:enforcingCourtCode>127</mresp:enforcingCourtCode>
                             <mresp:enforcingCourtName>BIRMINGHAM</mresp:enforcingCourtName>
                             <mresp:fee>10000</mresp:fee>
                          </ind:mcolResponseDetail>
                        ]]>
                    </value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B8</value>	       			
	       			<value>mcolClaimStatusUpdate</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>67</value>	       			
	       			<value>This claim status update is invalid on the referenced claim.</value>
	       			<value></value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B9</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>28</value>	       			
	       			<value>Defendant 2 is specified but there is only 1 defendant on the claim.</value>
	       			<value></value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B10</value>	       			
	       			<value>mcolJudgmentWarrant</value>	       			
	       			<value>Rejected</value>	       			
	       			<value>24</value>	       			
	       			<value>This judgment request is invalid on the referenced claim.</value>
                    <value>
                        <![CDATA[
                            <ind:mcolResponseDetail xmlns:ind="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" xmlns:mresp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseDetailSchema">
                                <mresp:judgmentWarrantStatus>Judgment Request error</mresp:judgmentWarrantStatus>
                            </ind:mcolResponseDetail>
                        ]]>
                    </value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B11</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>
                        <![CDATA[
                            <ind:mcolResponseDetail xmlns:ind="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" xmlns:mresp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseDetailSchema">
                                <mresp:claimNumber>A0ZZ0045</mresp:claimNumber>
                                <mresp:fee>21000</mresp:fee>
                            </ind:mcolResponseDetail>
                        ]]>
                    </value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B12</value>	       			
	       			<value>mcolWarrant</value>	       			
	       			<value>Forwarded</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value></value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B13</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Awaiting Data</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value></value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B14</value>	       			
	       			<value>mcolClaim</value>	       			
	       			<value>Received</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value></value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B15</value>	       			
	       			<value>mcolJudgment</value>	       			
	       			<value>Received</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value></value>
	       		</list>
	       		<list>	     			
	       			<value>USER_REQUEST_ID_B16</value>	       			
	       			<value>mcolSetAside</value>	       			
	       			<value>Initially Accepted</value>	       			
	       			<value></value>	       			
	       			<value></value>
	       			<value>
                        <![CDATA[
                            <ind:mcolResponseDetail xmlns:ind="http://ws.sdt.moj.gov.uk/2013/sdt/BulkFeedbackResponseSchema" xmlns:mresp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseDetailSchema">
                                <mresp:fee>5000</mresp:fee>
                            </ind:mcolResponseDetail>
                        ]]>
	       			</value>
	       		</list>
                <list>
                    <value>USER_REQUEST_ID_B17</value>
                    <value>mcolBreathingSpace</value>
                    <value>Initially Accepted</value>
                    <value></value>
                    <value></value>
                    <value></value>
                </list>
     		</list>
   		</property>
 	</bean>
</beans>
