<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- Mock implementation for Submit Query Service -->        
    <bean id="uk.gov.moj.sdt.services.api.ISubmitQueryService" 
        class="uk.gov.moj.sdt.producers.comx.services.MockSubmitQueryService"> 
        <property name="responseContentMap">
        	<map>
        		<entry key="MCOLDefence1" value-ref="uk.gov.moj.sdt.domain.api.ISubmitQueryRequestMCOLDefence1"/>
        		<entry key="MCOLDefence2" value-ref="uk.gov.moj.sdt.domain.api.ISubmitQueryRequestMCOLDefence2"/>
        		<entry key="MCOLDefence3" value-ref="uk.gov.moj.sdt.domain.api.ISubmitQueryRequestMCOLDefence3"/>        		
        		<entry key="MCOLDefence4" value-ref="uk.gov.moj.sdt.domain.api.ISubmitQueryRequestMCOLDefence4"/>
        		<entry key="MCOLDefence5" value-ref="uk.gov.moj.sdt.domain.api.ISubmitQueryRequestMCOLDefence5"/>
        		<entry key="MCOLDefence6" value-ref="uk.gov.moj.sdt.domain.api.ISubmitQueryRequestMCOLDefence6"/>
        	</map>
        </property>       
    </bean> 
	
    <!-- Mock implementation for Bulk Submission Service -->        
    <bean id="uk.gov.moj.sdt.services.api.IBulkSubmissionService" 
        class="uk.gov.moj.sdt.producers.comx.services.MockBulkSubmissionService">
        <property name="sdtBulkReferenceGenerator" ref="uk.gov.moj.sdt.services.utils.api.ISdtBulkReferenceGenerator"/>
    </bean>

    <!-- Mock implementation for Bulk Feedback Service -->        
    <bean id="uk.gov.moj.sdt.services.api.IBulkFeedbackService" 
        class="uk.gov.moj.sdt.producers.comx.services.MockBulkFeedbackService">       
        <property name="bulkFeedbackFactoryMap">
        	<map>
        		<!-- These keys also appear in MockBulkSubmissionDao.java for the SDT bulk reference check -->
        		<entry key="MCOL_20130722000000_A00000001" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryA00000001"/>
        		<entry key="MCOL_20130722000000_B00000001" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryB00000001"/>
        		<entry key="MCOL_20130722000000_B00000002" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryB00000002"/>        		
        		<entry key="MCOL_20130722000000_C00000001" value-ref="uk.gov.moj.sdt.producers.comx.utils.BulkFeedbackFactoryC00000001"/> 
        	</map>
        </property>                
    </bean>	
    
    <!-- Mock implementation for Update Item service, this is not really used but included 
    	here so that the deployment of the producers commissioning goes smooth -->
    <bean id="uk.gov.moj.sdt.services.api.IUpdateRequestService" 
    	class="uk.gov.moj.sdt.producers.comx.services.MockUpdateRequestService">
    </bean>
</beans>