<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
    
    <bean id="uk.gov.moj.sdt.producers.api.IWsCreateBulkRequestHandler" 
        class="uk.gov.moj.sdt.handlers.WsCreateBulkRequestHandler">
        <property name="transformer" ref="uk.gov.moj.sdt.transformers.BulkRequestTransformer"/>
        <property name="bulkSubmissionService" ref="uk.gov.moj.sdt.services.api.IBulkSubmissionService"/>
        <property name="bulkSubmissionValidator" ref="uk.gov.moj.sdt.validators.api.IBulkSubmissionValidator"/>
        
    </bean>

    <bean id="uk.gov.moj.sdt.producers.api.IWsReadBulkRequestHandler" 
        class="uk.gov.moj.sdt.handlers.WsReadBulkFeedbackRequestHandler">
        <property name="bulkFeedbackService" ref="uk.gov.moj.sdt.services.api.IBulkFeedbackService"/>
        <property name="transformer" ref="uk.gov.moj.sdt.transformers.BulkFeedbackTransformer"/>
    </bean>
                
    <bean id="uk.gov.moj.sdt.producers.api.IWsReadSubmitQueryHandler" 
        class="uk.gov.moj.sdt.handlers.WsReadSubmitQueryHandler">
        <property name="submitQueryService" ref="uk.gov.moj.sdt.services.api.ISubmitQueryService"/>
        <property name="transformer" ref="uk.gov.moj.sdt.transformers.SubmitQueryTransformer"/>
    </bean>        
        
</beans>
    
