<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Load all IValidators to force their constructors to run so that they 
		register themselves in map. -->
		
	<!-- Abstract base class for validators -->
    <bean id="uk.gov.moj.sdt.validators.AbstractSdtValidator" abstract="true"
        class="uk.gov.moj.sdt.validators.AbstractSdtValidator">        
        <property name="bulkCustomerDao" ref="uk.gov.moj.sdt.dao.api.IBulkCustomerDao" />                               
        <property name="globalParameterCache" ref="uk.gov.moj.sdt.services.cache.api.IGlobalParametersCache" />
        <property name="errorMessagesCache" ref="uk.gov.moj.sdt.services.cache.api.IErrorMessagesCache" />
    </bean>

	<bean id="uk.gov.moj.sdt.validators.api.IBulkCustomerValidator" 
		parent="uk.gov.moj.sdt.validators.AbstractSdtValidator"
		class="uk.gov.moj.sdt.validators.BulkCustomerValidator">
	</bean>

    <bean id="uk.gov.moj.sdt.validators.api.IBulkSubmissionValidator" 
    	parent="uk.gov.moj.sdt.validators.AbstractSdtValidator"
        class="uk.gov.moj.sdt.validators.BulkSubmissionValidator">        
        <property name="bulkSubmissionDao" ref="uk.gov.moj.sdt.dao.api.IBulkSubmissionDao" />                                       
    	<property name="concurrencyMap" ref="uk.gov.moj.sdt.validators.concurrencyMap"/>
    </bean>

    <bean id="uk.gov.moj.sdt.validators.api.IServiceTypeValidator" 
    	parent="uk.gov.moj.sdt.validators.AbstractSdtValidator"
        class="uk.gov.moj.sdt.validators.ServiceTypeValidator">
    </bean>

    <bean id="uk.gov.moj.sdt.validators.api.ITargetApplicationValidator" 
    	parent="uk.gov.moj.sdt.validators.AbstractSdtValidator"
        class="uk.gov.moj.sdt.validators.TargetApplicationValidator">
    </bean>

    <bean id="uk.gov.moj.sdt.validators.api.IIndividualRequestValidator" 
    	parent="uk.gov.moj.sdt.validators.AbstractSdtValidator"
        class="uk.gov.moj.sdt.validators.IndividualRequestValidator">
        <property name="individualRequestDao" ref="uk.gov.moj.sdt.dao.api.IIndividualRequestDao" />
    </bean>
    
    <bean id="uk.gov.moj.sdt.validators.api.ISubmitQueryRequestValidator" 
    	parent="uk.gov.moj.sdt.validators.AbstractSdtValidator"
        class="uk.gov.moj.sdt.validators.SubmitQueryRequestValidator">
    </bean>

    <bean id="uk.gov.moj.sdt.validators.api.IBulkFeedbackRequestValidator" 
    	parent="uk.gov.moj.sdt.validators.AbstractSdtValidator"
        class="uk.gov.moj.sdt.validators.BulkFeedbackRequestValidator">        
        <property name="bulkSubmissionDao" ref="uk.gov.moj.sdt.dao.api.IBulkSubmissionDao" />                                       
    </bean>


	<bean id="uk.gov.moj.sdt.validators.api.IDateValidator" class="uk.gov.moj.sdt.validators.DateValidator">
	</bean>
	
	<bean id="uk.gov.moj.sdt.validators.api.IErrorLogValidator" class="uk.gov.moj.sdt.validators.ErrorLogValidator">
	</bean>

	<bean id="uk.gov.moj.sdt.validators.concurrencyMap" class="java.util.HashMap"/>                     
</beans>
